#app {
  /* border: 1px solid red; */
}

#bg {
  background-image: url("../Images/bg.png");
  width: 800px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

#hero {
  background-image: url("../Images/hero.png");
  width: 35px;
  height: 55px;
  position: relative;
  top: 530px;
}

.right {
  background-position: 35px;
}

.left {
  background-position: 70px;
}

.back {
  background-position: 105px;
}

.ghost {
  background-image: url("../Images/ghost.png");
  position: absolute;
  width: 45px;
  height: 55px;
}

.die {
  background-position: 45px;
}

#score_board {
  position: absolute;
  left: 665px;
  top: 70px;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}

#stage_board {
  position: absolute;
  left: 625px;
  top: 40px;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}

#game_over {
  color: white;
  font-size: 45px;
  font-weight: 500;
  position: relative;
  left: 320px;
  top: 280px;
}

#time {
  color: white;
  font-size: 15px;
  position: relative;
  top: -20px;
  left: 70px;
}
